# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

.env
.env.development
.env.production
/notes/
/file-uploads/
/_temp/
# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
*.db

/temp/*
/dist/*
/build/*

__local__